body {
  background-color: #887987;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  display: flex;
  padding-left: 5%;
  font-size: 60px;
  letter-spacing: 0.3px;
  font-family: "Times New Roman", Times, serif;
}
/* =========================    blog page   ==================================== */

/* ================================================================================= */
.art_row {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;
}
/* .shop_chapter_row {
  display: flex;
  background-color: #7a6a79;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 0 auto;
  align-self: flex-start;
} */
.shop_chapter {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  margin: 30px 50px;
  letter-spacing: 0.5px;
}

.shop_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}
.shop_menu_button {
  background-color: rgb(245, 243, 243, 0);
  color: rgb(245, 243, 243);
  font-family: "Times New Roman", Times, serif;
  border-color: rgb(245, 243, 243, 0);
  letter-spacing: 1px;
  font-size: 35px;
  margin-top: 10px;
}
